<div class="container">
    <h1>Welcome to the Current Weather Page</h1>
    <h3>City: {{ viewData.cityName }}</h3>
    <h3>Temp: {{ viewData.cityTemp }}</h3>

    <a href="/api">
        <button class="btn btn-primary">New Search</button>
    </a>
</div>